<h1>Exemplo de Notificação</h1>

<a href="/">Home</a>

<% usuario_rand = (0...10).map{ ('a'..'z').to_a[rand(26)] }.join %>
<% conta_key = "asdasdasdasdadasdsds" %>
<% destinatarios = "sistema_teste,usuario@teste.com,ulisses" %>

<ul>
	<li>Account Key: <%= conta_key %></li>
	<li>Destinatários: <%= destinatarios %></li>
	<li>Usuário randômico: <%= usuario_rand %></li>
</ul>

<div style="text-align: center">

	<div id="notification_bar"></div>

</div>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script>
	(function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
          
           /* -- DADOS DA NOTIFICACAO -- */
           bsa.account_key = '<%= conta_key %>';
           bsa.to = '<%= destinatarios %>';
           bsa.from = '<%= usuario_rand %>';
          /* -- FIM -- */

           bsa.src = '<%= request.protocol + request.host_with_port %>/notifica/'+bsa.account_key+'/'+ bsa.to+'/'+ bsa.from;
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
</script>
