$(function() {
	
	createStyleSheet("<%= request.protocol + request.host_with_port %>/assets/bootstrap.popover.css?body=1");
	// createStyleSheet("<%= request.protocol + request.host_with_port %>/assets/bootstrap-responsive.min.css?body=1");

  	var noti = '<a class="botao_informacao_notificacao" id="informacao_notificacao"><span class="numero_notificacoes"><%= contar_notificacoes( @notificacoes ) %></span> <%= plural( @notificacoes ) %></a>';

  	$('#notification_bar').html(noti);
    $('#notification_bar').addClass("<%= 'sem-notificacao' if  contar_notificacoes(@notificacoes).zero? %>");
    $('#notification_bar').addClass("<%= 'com-notificacao' unless  contar_notificacoes(@notificacoes).zero? %>");

    <% if not @current_account %>
      $('#notification_bar').html("ERRO: nenhuma conta com chave: <%= @account_id %>");
    <% end %>

	$.getScript("<%= request.protocol + request.host_with_port %>/assets/bootstrap.popover.min.js?body=1", afterLoadJS); 

	function afterLoadJS(){
		$('#informacao_notificacao').popover({
  			title: 'últimas notificações',
  			content: "<iframe id='notification-iframe' allowtransparency='true' width='100%' frameBorder='0' border='0px' src='<%= request.protocol + request.host_with_port %>/mostrar_notificacoes/<%= @account_id %>/<%= @to %>/<%= @from %>'></iframe>",
  			html: 'true',
  			placement: 'bottom',
  			animation: 'true'
  		});
	};

  	 function createStyleSheet(style){
		if (document.createStyleSheet){
		    document.createStyleSheet("'" + style + "'");
		}
		else {
		    $("head").append($("<link rel='stylesheet' href='" + style + "' type='text/css' media='screen' />"));
		}
	};
  	
});


