<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "bootstrap.popover", :media => "all" %>
	<%= stylesheet_link_tag "notificacao", :media => "all" %>

	<title><%= humanizando( @notificacoes ) %></title>  	
</head>
<body>

<div class="lista_notificacao">
	
	<% @notificacoes.each do |notificacao| %>
		<div class="notificacao <%= notificacao.data_visualizado_por( @from ) ? 'notificacoes-lidas' : 'notificacoes-nao-lidas' %> <%= class_por_tipo( notificacao ) %>">
			<%= notificacao.conteudo.html_safe %>

			<% if notificacao.data_visualizado_por( @from ) %>
				<span class="data-visualizado"> visto à <%= time_ago_in_words( notificacao.data_visualizado_por( @from ) ) %></span>
			<% else %>
				<a class="visualizado-btn" href="#" data-url='<%= "/visualizado/#{notificacao.account.id}/#{notificacao.id}/#{@from}" %>'>ok</a>
			<% end %>

		</div>
		<hr/>
	<% end %>

</div>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>

	$(document).ready(function() {
	  
	  $(".visualizado-btn").each(function(index, elem){
	  	$(elem).click(function(){
	  		 $.ajax( $(elem).attr('data-url') )
    			.done(function() {
    				$(elem).parent('div.notificacao').removeClass('notificacoes-nao-lidas').addClass('notificacoes-lidas');
    				$(elem).html('visualizado');
    				$(elem).hide();
    			})
    			.fail(function() { alert("Erro ao comunicar visualização."); })
	  	});
	  });

	});

  resizeIframe = function(iframe) {
    iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
  }

</script>

</body>
</html>





