<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "bootstrap.popover", :media => "all" %>
	<%= stylesheet_link_tag "notificacao", :media => "all" %>

	<title><%= humanizando( @notificacoes ) %></title>  	
</head>
<body>

<div class="lista_notificacao">

	<%= '<div class="notificacao-empty">nenhuma notificação</div>'.html_safe if @notificacoes.empty? %>
	
	<% @notificacoes.each do |notificacao| %>
		<% data_visualizado = notificacao.data_visualizado_por( @from ) %>

		<div class="notificacao <%= data_visualizado ? 'notificacoes-lidas' : 'notificacoes-nao-lidas' %> <%= class_por_tipo( notificacao ) %>" data-url='<%= "/visualizado/#{@account_id}/#{notificacao.id}/#{@from}" unless data_visualizado  %>'>
			<%= notificacao.conteudo.html_safe %>

			<% if data_visualizado %>
				<br/>
				<span class="data-visualizado"> visto à <%= time_ago_in_words( data_visualizado ) %></span>
			<% else %>
			
			<% end %>

		</div>
		<hr/>
	<% end %>

</div>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>

	$(document).ready(function() {

	   $(".notificacoes-nao-lidas").each(function(index, elem){
	  	$(elem).click(function(){
	  		 $.ajax( $(elem).attr('data-url') )
    			.done(function() {
    				$(elem).removeClass('notificacoes-nao-lidas').addClass('notificacoes-lidas');
    			})
    			.fail(function() { alert("Erro ao comunicar visualização."); })
	  	});
	  });

	});

</script>

</body>
</html>





