<% @novo_usuario.errors.messages.each do |key, msg| %>
         <div id="<%= key %>" class="alert alert-error">
         
           <% msg.each do |msg_elem| %>
           <p><%= key %> : <%= msg_elem %></p>
           <% end %>

         </div>
       <% end %>

       <% flash.each do |key, msg| %>
         <div id="<%= key %>" class="alert">
           <p><%= msg %></p>
         </div>
       <% end %>

        <h2>Crie seu usuário</h2>
        <%= form_for @novo_usuario, :url => criar_novo_usuario_path , :remote => true do |f| %>
         <%= f.label "E-mail" %>
         <%= f.text_field :email %>
         <%= f.label "Senha" %>
         <%= f.password_field :password %><br/>
         <%= f.submit  "Criar Novo Usuário", :class => "btn"  %>
       <% end %>