  
        <h3>Adicione notificações em seu site ou webapp</h3>
        
        <p class="lead">
            Crie um <a href="#criar_usuario">usuário</a>, cadastre destinatários e crie notificações
        </p>

        <hr/>

        <p>Em seguida, adicione o seguinte trecho de código onde deseja que suas notificações apareçam:</p>
        <pre class="prettyprint lang-scm">
          <%= h '<div id="notification_bar"></div>' %>
        </pre>

        <p>e o seguinte JS:</p>
        <pre class="prettyprint lang-scm">

          <%= h "(function(){
            var bsa = document.createElement('script');
               bsa.type = 'text/javascript';
               bsa.async = true;
              
               /* -- DADOS DA NOTIFICACAO -- */
               bsa.account_key = '<ACCOUNT_KEY>';
               bsa.to = '<DESTINATARIO_1>,<DESTINATARIO_2>...';
               bsa.from = '<USUARIO_ATUAL>';
              /* -- FIM -- */

               bsa.src = '//notifica-app.herokuapp.com/notifica/'+bsa.account_key+'/'+ bsa.to+'/'+ bsa.from;
            (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
          })();" %>

        </pre>

        <p>exemplo:</p>
        <pre class="prettyprint lang-scm">
          
          <%= h "ACCOUNT_KEY: qwertyuiasd" %>
          <%= h "DESTINATÁRIOS: sistemaX,usuario@email.com" %>
          <%= h "VISUALIZADO POR: usuario@email.com" %>

          <%= h "(function(){
            var bsa = document.createElement('script');
               bsa.type = 'text/javascript';
               bsa.async = true;
              
               /* -- DADOS DA NOTIFICACAO -- */
               bsa.account_key = 'qwertyuiasd';
               bsa.to = 'sistemaX,usuario@email.com';
               bsa.from = 'usuario@email.com';
               /* -- FIM -- */
              
               bsa.src = '//notifica-app.herokuapp.com/notifica/' + bsa.account_key + '/' + bsa.to + '/' + bsa.from;
              (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
            })();" %>


        </pre>


        <p><a href="exemplo">Clique aqui</a> para ver funcionando
            
        </p>


        <hr/>

      <div class="form_usuario">
        <a name="criar_usuario" id="criar_usuario" href="#"></a>
       <%= render 'form_usuario' %>
      </div>

      </div>

      <div id="push"></div>




      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
