  
        <h3>Adicione notificações em seu site ou webapp</h3>
        
        <p class="lead">
            Crie um <a href="#criar_usuario">usuário</a>, cadastre destinatários e crie notificações
        </p>

        <hr/>

        <p>Em seguida, adicione o seguinte trecho de código onde deseja que suas notificações apareçam:</p>
        <pre class="prettyprint lang-scm">
          <%= h '<div id="notification_bar"></div>' %>
        </pre>

        <p>e o seguinte JS:</p>
        <pre class="prettyprint lang-scm">
          <%= h "<script src='#{request.protocol + request.host_with_port}/notifica/<ACCOUNT_KEY>/<DESTINATARIO_1>,<DESTINATARIO_2>.../<USUARIO_ATUAL>' ></script>" %>
        </pre>

        <p>exemplo:</p>
        <pre class="prettyprint lang-scm">
          
          <%= h "ACCOUNT_KEY: qwertyuiasd" %>
          <%= h "DESTINATÁRIOS: sistemaX,usuario@email.com" %>
          <%= h "VISTO POR: usuario@email.com" %>

          <%= h "<script src='#{request.protocol + request.host_with_port}/notifica/qwertyuiasd/sistemaX,usuario@email.com/usuario@email.com' ></script>" %>

        </pre>


        <p><a href="exemplo">Clique aqui</a> para ver funcionando
            
        </p>


        <hr/>

      <div class="form_usuario">
        <a name="criar_usuario" id="criar_usuario" href="#"></a>
       <%= render 'form_usuario' %>
      </div>

      </div>

      <div id="push"></div>




      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
